.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 New pin
      .panel-body
        = render 'form'
      .panel-footer
        = link_to "Back", root_path, class: "btn btn-default"
